NEXT_PUBLIC_SUPABASE_URL_SIT=https://your-sit-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY_SIT=your-sit-anon-key
SUPABASE_SERVICE_ROLE_KEY_SIT=your-sit-service-role-key

NEXT_PUBLIC_SUPABASE_URL_SSIT=https://your-ssit-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY_SSIT=your-ssit-anon-key
SUPABASE_SERVICE_ROLE_KEY_SSIT=your-ssit-service-role-key
