NEXT_PUBLIC_SUPABASE_URL=https://bpwkqodasqcjbulkstrt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJwd2txb2Rhc3FjamJ1bGtzdHJ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5NzU5ODUsImV4cCI6MjA5MjU1MTk4NX0.FF13AdfO_Cpc8y7WKk3TJChlA98Hg5cb24WzBdVJ3_0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJwd2txb2Rhc3FjamJ1bGtzdHJ0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Njk3NTk4NSwiZXhwIjoyMDkyNTUxOTg1fQ.g_cuj5mW92d43U0vxDCU924WcwAf2nKhs0RoKR6gRPw

